<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <center>{{ message }}</center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <div>
        <h1>forgot Form</h1>
        <form method="post">
            <p>
                <label>Enter Your Email: </label><br><br>
                <input type="email" name="email" placeholder="Enter your email">
                <button>Submit</button>
            </p>
    
</body>
</html>